<div class="screen-container">
    <h1 class="screen-title text-dark">Acompanhamento de desempenho</h1>


    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Daterangepicker"
               class="form-control"
               bsDaterangepicker>
      </div>


    <div class="row">
        <div class="col-6">
            <div echarts [options]="optionsProgress"></div>
        </div>
        <div class="col-6">
            <div echarts [options]="optionsYield"></div>    
        </div>
    </div>
</div>
