<div class="screen-container">
    <h1 class="screen-title text-dark">Acompanhamento de desempenho</h1>


    <div class="form-group dateContainer mt-0 mb-4" style="padding: auto 30% auto 30%;">
        <input type="text" placeholder="Escolha o intervalo (dd/mm - dd/mm)" class="form-control date" bsDaterangepicker 
        placement="bottom" (bsValueChange)="dateFilter($event)"
        container = "div"
        [bsConfig]="{ 
            containerClass: 'theme-red', 
            showTodayButton: true, 
            todayPosition: 'center', 
            adaptivePosition: true 
        }">
    </div>

    <div class="row">
        <div class="col-6">
            <div echarts [options]="optionsProgress"></div>
        </div>
        <div class="col-6">
            <div echarts [options]="optionsYield"></div>    
        </div>
    </div>
</div>
