.header {
    font-family: 'Bebas Neue';
    font-size: 1.5em;
    display: flex;
    align-items: center;
    background-color: #1C191A;
    height: 56px;
    margin-top: -8px;
    
    a {
        align-items: center;
        text-decoration: none;
        color: #ffffff;
    }

    .logo {
        max-height: 45px;
    }

    .title-group {
        padding-left: 15px;
        cursor: pointer;

        i {
            padding-right: 5px; 
            color: #ffffff;
            font-size: 1.4rem;
        }
    }

    .nav-list{
        display: flex;
        flex-direction: row;
    }
}