<mat-toolbar class="header mat-elevation-z4 navbar fixed-top">

    <mat-nav-list class="nav-list">
        <a mat-list-item (click)="navigateActivities()">
            <img class="logo" src="../assets/img/logo.png" alt="logo">
        </a>
        <a mat-list-item class="title-group" (click)="navigateActivities()"> 
            <i class="material-icons">
                home 
            </i>
            Minhas Atividades
        </a>
        <a mat-list-item class="title-group" (click)="navigatePerformance()">
            <i class="material-icons">
                leaderboard
            </i>
            Desempenho
        </a>
    </mat-nav-list>
        
</mat-toolbar>